.register {
    .registerWrapper {
        .formContainer {
            width: 550px;
            // height: 500px;
            display: flex;
            flex-direction: column;
            margin-left: 34%;
            margin-top: 100px;

            .heading{
                font-size: 32px;
                margin-bottom: 40px;
                font-weight: 600;

            }

            .labelText {
                font-size: 20px;

                margin-bottom: 10px;
            }
            .loginInput {
                height: 40px;
                margin-bottom: 18px;
                outline: none;
                font-size: 16px;
                border-radius: 10px;
                padding-left: 10px;
            }
            .dontHaveAccountTxt {
                font-size: 16px;
                margin-bottom: 20px;
                cursor: pointer;
            }

            .signUpButton {
                height: 40px;
                margin-bottom: 18px;
                outline: none;
                font-size: 18px;
                border-radius: 10px;
                padding-left: 10px;
                font-weight: 600;
            }
        }
    }
}
