.dark {
  background-color: #222;
  color: white;

  .topBarCon {
    .topCenter {
      .topListItems {
        .link {
          color: white;
        }
      }
    }

    .topRight {
      .topList {
        .topListItems {
          .link {
            color: white;
          }
        }
      }
    }
  }

  .header {
    .headerTitles {
      color: teal;
    }
  }

  .rightbar {
    background-color: #111;
    .rightbarItem {
      .rightbarTitle {
        color: white;
      }
      .introduction {
        color: white;
      }
      .rightbarList {
        .rightbarListItem {
          color: white;
        }
      }
    }
  }

  .post {
    .postTitle {
      color: white;
    }
    .postTime {
      color: white;
    }
    .locationIcon {
      color: white;
    }
    .locationText {
      color: white;
    }
    .postDescription {
      color: white;
    }
  }

  .form {
    .registerInputLabel {
      color: white;
    }
  }
}
