.topBarCon {
  width: 100%;
  height: 60px;
  position: sticky;
  top: 0px;
  z-index: 999;
  display: flex;
  align-items: center;
  font-family: "Josefin Sans", sans-serif;
  background-color: white;
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.75);

  .barIcon {
    color: rgb(7, 176, 176);
    cursor: pointer;
    margin-left: 20px;
    margin-right: 5px;
    font-size: 35px;

    &:hover {
      color: rgb(4, 119, 119);
      transition: all 0.3s ease-in-out;
    }
  }
  // SideBar-----------------
  .sideBar {
    background-color: teal;
    height: 120vh;
    width: 18vw;
    margin-top: 400px;
    position: absolute;
    top: -400px;
    color: white;
    margin-top: 385px;

    .drawerSliderWrapper {
      margin-left: 50px;
      margin-top: 50px;
      display: flex;
      flex-direction: column;
      gap: 25px;

      .sliderItems {
        display: flex;
        align-items: center;
        gap: 10px;
        cursor: pointer;
        width: 180px;
        padding: 5px;
        border-radius: 20px;

        .sliderListIcons {
          font-size: 28px;
        }

        .sliderListItem {
          font-size: 20px;
        }
      }

      .sliderItems:hover {
        background-color: #f5f5f5;
        width: 180px;
        color: teal;
        padding: 5px;
        border-radius: 20px;
        transition: all 0.3s ease;
        padding-left: 17px;
        font-weight: 600;
      }
    }

    .clearIcon {
      cursor: pointer;
      font-size: 45px;
      margin-left: 20px;
      margin-top:30px;
    }
  }

  .topLeft {
    // background-color: pink;
    flex: 3;
    display: flex;
    align-items: center;
    justify-content: center;

    .topIcon {
      font-size: 24px;
      margin-right: 10px;
      color: rgb(43, 155, 155);
      cursor: pointer;

      &:hover {
        color: teal;
      }
    }

    .searchCon {
      width: 200px;
      height: 34px;
      background-color: white;
      border: 1.5px solid teal;
      border-radius: 26px;
      display: flex;
      align-items: center;
      margin-top: 5px;
      // background-color: red;

      .topSearchIcon {
        color: teal;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 20px;
        cursor: pointer;
        margin-right: 10px;
      }
      .searchInput {
        width: 95%;
        height: 100%;
        border: none;
        border-radius: 26px;
        outline: none;
        padding-left: 10px;
        padding-right: 10px;
      }

      .searchInput::placeholder {
        font-size: 15px;
        font-weight: 500;
      }
    }
  }

  .topCenter {
    flex: 4;
    display: flex;
    // background-color: red;

    .topList {
      display: flex;
      justify-content: center;
      align-items: center;
      list-style: none;

      .topListItems {
        margin-right: 20px;
        font-size: 18px;
        font-weight: 600;
        cursor: pointer;

        .link {
          color: rgb(14, 13, 13);

          &:hover {
            color: teal;
          }
        }
      }
    }
  }

  .topRight {
    flex: 3;
    display: flex;
    align-items: center;
    justify-content: center;
    // background-color: yellow;b

    .topImg {
      width: 38px;
      height: 38px;
      border-radius: 50%;
      object-fit: cover;
      cursor: pointer;
      border: 2px solid teal;
      overflow: hidden;
      margin-right: 20px;
    }
    .topList {
      display: block;
      display: flex;

      .topListItems {
        display: none;
        color: rgb(14, 13, 13);
        list-style: none;
        margin-right: 20px;
        font-size: 18px;
        font-weight: 600;
        cursor: pointer;

        &:hover {
          color: teal;
        }
      }
    }
  }
}

@media only screen and (max-width: 1400px) {
  .topBarCon {
    .sideBar {
      height: 200vh;
      width: 30vw;
    }
    .topIcon {
      display: none;
    }
  }
}

@media only screen and (max-width: 1100px) {
  .topBarCon {
    .sideBar {
      height: 200vh;
      width: 30vw;
    }
  }
}

@media only screen and (max-width: 1000px) {
  .topBarCon {
    .sideBar {
      height: 200vh;
      width: 40vw;
      margin-top: 370px;

      .drawerSliderWrapper {
        margin-top: 18px;
        .sliderItems {
          width: 100%;

          .sliderListIcons {
            font-size: 32px;
          }

          .sliderListItem {
            font-size: 22px;
          }
        }
      }
      .clearIcon {
        font-size: 35px;
        margin-top: 26px;
      }
    }

    .topLeft {
      flex: 1.4;
      display: flex;
      align-items: center;
      justify-content: center;
      // background-color: green;
      margin-left: 20px;
    }

    .topCenter {
      // background-color: red;
      padding-left: 60px;
    }

    .topRight {
      flex: 1;
      // background-color: pink;
      .topList {
        display: none;
      }
    }
  }
}

@media only screen and (max-width: 900px) {
  .topBarCon {
    .topCenter {
      display: none;
    }
    .sideBar {
      height: 200vh;
      width: 40vw;
      margin-top: 370px;

      .drawerSliderWrapper {
        margin-top: 18px;
        .sliderItems {
          width: 100%;

          .sliderListIcons {
            font-size: 32px;
          }

          .sliderListItem {
            font-size: 22px;
          }
        }
      }
      .clearIcon {
        font-size: 35px;
        margin-top: 26px;
      }
    }

    .topRight {
      flex: 0.3;
      // background-color: pink;
      margin-left: 30px;
    }
  }
}

@media only screen and (max-width: 700px) {
  .topBarCon {
    .sideBar {
      height: 500vh;
      width: 220vw;

      margin-top: 370px;

      .drawerSliderWrapper {
        .sliderItems {
          width: 100%;

          .sliderListIcons {
            font-size: 40px;
          }

          .sliderListItem {
            font-size: 26px;
            margin-left: 10px;
          }
        }
      }
      .clearIcon {
        font-size: 50px;
        margin-top: 30px;
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  .topBarCon {
    .sideBar {
      height: 500vh;
      width: 220vw;

      margin-top: 370px;

      .drawerSliderWrapper {
        .sliderItems {
          width: 100%;

          .sliderListIcons {
            font-size: 40px;
          }

          .sliderListItem {
            font-size: 26px;
            margin-left: 10px;
          }
        }
      }
      .clearIcon {
        font-size: 50px;
        margin-top: 30px;
      }
    }
  }
}

@media only screen and (max-width: 500px) {
  .topBarCon {
    .topRight {
      flex: 0.3;
      margin-left: 70px;

      .topImg {
        width: 55px;
        height: 55px;
        margin-top: 10px;
      }
    }
    .sideBar {
      height: 500vh;
      width: 220vw;
      margin-top: 370px;

      .drawerSliderWrapper {
        .sliderItems {
          width: 100%;

          .sliderListIcons {
            font-size: 58px;
          }

          .sliderListItem {
            font-size: 36px;
            margin-left: 10px;
          }
        }
      }
      .clearIcon {
        font-size: 65px;
        margin-top: 20px;
      }
    }
  }
}

@media only screen and (max-width: 400px) {
  .topBarCon {
    margin-top: 30px;
    .topRight {
      flex: 0.3;
      margin-left: 70px;

      .topImg {
        width: 70px;
        height: 70px;
        margin-left: -30px;
      }
    }

    .sideBar {
      height: 500vh;
      width: 220vw;
      margin-top: 370px;

      .drawerSliderWrapper {
        .sliderItems {
          width: 100%;

          .sliderListIcons {
            font-size: 58px;
          }

          .sliderListItem {
            font-size: 36px;
            margin-left: 10px;
          }
        }
      }
      .clearIcon {
        font-size: 65px;
        margin-top: 20px;
      }
    }

    .barIcon {
      font-size: 70px;
    }

    .topLeft {
      .searchCon {
        width: 250px;
        height: 64px;
      }
    }
  }
}
