.post {
  height: 360px;
  width: 320px;
  display: flex;
  flex-direction: column;
  margin-left: 40px;
  margin-bottom: 50px;
  box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.57);
  -webkit-box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.57);
  -moz-box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.57);
  border-radius: 15px;

  .postTitle {
    font-size: 24px;
    font-weight: 600;
    font-family: "Varela", sans-serif;
    margin-bottom: 14px;
    display: flex;
    justify-content: center;
  }

  .postImg {
    height: 180px;
    width: 320px;
    border-radius: 2px;
    object-fit: cover;
    overflow: hidden;
  }
  .timeLocationRow {
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;

    .postTime {
      margin-right: 20px;
      font-size: 14px;
      color: #999;
    }

    .locationIcon {
      font-size: 14px;
      margin-right: 5px;
      color: #777;
    }
    .locationText {
      font-size: 16px;
      font-weight: 500;
      color: #777;
    }
    .postDescription {
      margin-top: 14px;
      line-height: 20px;
      color: #444;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 4;
      -webkit-box-orient: vertical;
    }
  }
}

//1100=====================================
@media only screen and (max-width: 1100px) {
  .post {
    height: 360px;
    width: 300px;
    margin-left: 20px;
    margin-right: 20px;

    .postImg {
      height: 180px;
      width: 300px;
      border-radius: 2px;
      object-fit: cover;
      overflow: hidden;
    }
  }
}

@media only screen and (max-width: 700px) {
  .post {
    height: 320px;
    width: 250px;

    .postImg {
      height: 130px;
      width: 250px;
      border-radius: 2px;
    }
  }
}

@media only screen and (max-width: 600px) {
  .post {
    height: 460px;
    width: 460px;
    display: flex;
    flex-direction: column;
    margin-left: 40px;
    margin-bottom: 50px;

    .postImg {
      height: 220px;
      width: 460px;
    }
  }
}

@media only screen and (max-width: 500px) {
  .post {
    height: 460px;
    width: 570px;

    .postImg {
      height: 240px;
      width: 570px;
    }
  }
}

@media only screen and (max-width: 400px) {
  .post {
    height: 460px;
    width: 580px;
    display: flex;
    flex-direction: column;
    margin-left: 40px;
    margin-bottom: 50px;

    .postImg {
      height: 280px;
      width: 580px;
    }
  }
}
