.singlePost {
  flex: 9;
  height: 300vh;
  padding-right: 50px;
}

.singlePostWrapper {
  padding: 20px;
  padding-right: 0;
  display: flex;
  flex-direction: column
}

.singlePostImg {
  height: 300px;
  border-radius: 5px;
  object-fit: cover;
  border: 2px solid teal
}

.singlePostTitle {
  text-align: center;
  margin: 10px;
  font-size: 28px;
  font-family: "Lora", sans-serif;
}

.singlePostTitleUpdateMode {
  text-align: center;
  margin: 10px;
  font-size: 28px;
  font-family: "Lora", sans-serif;
  outline: none;
  border: none;
  border-bottom: 1px solid grey;
  color: #666;

}

.singlePostEdit {
  float: right;
  font-size: 16px;
}

.singlePostIcon {
  margin-left: 10px;
  cursor: pointer;
}

/* Post Delete Alert------------ */
.deleteContainer1 {
  height: 100px;
  width: 200px;
  background-color: rgb(170, 169, 169);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  position: sticky;
  margin-top: -20px;
  margin-left: -270px;

}

.areYouSure1 {
  font-size: 16px;
  font-weight: 500;
}

.nuYesRow1 {
  display: flex;
  gap: 30px;
  margin-top: 10px;
}

.nuNoBtn1,
.nuYesBtn1 {
  width: 50px;
  height: 30px;
  border-radius: 10px;
  background-color: teal;
  color: white;
  border: none;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
}

.singlePostIcon:first-child {
  color: teal;
}

.singlePostIcon:last-child {
  color: tomato;
}

.singlePostInfo {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  color: #be9656;
  font-family: "Varela Round", Arial, Helvetica, sans-serif;
}

.singlePostAuthor {
  margin-left: 5px;
}

.singlePostDesc {
  color: #666;
  font-size: 18px;
  line-height: 25px;
}

.singlePostDescUpdateMode {
  text-align: center;
  margin: 10px;
  font-size: 22px;
  font-family: "Lora", sans-serif;
  border: 1px solid grey;
}

.singlePostDescUpdateMode:focus {
  outline: none
}

.singlePostDesc::first-letter {
  margin-left: 20px;
  font-size: 30px;
  font-weight: 600;
}

.postUpdateBut {
  width: 130px;
  height: 40px;
  background-color: teal;
  border: none;
  outline: none;
  border-radius: 10px;
  color: white;
  font-size: 18px;
  font-weight: 600;
  align-self: flex-end;
  margin-right: 10px;
  cursor: pointer;
}

/* 768====================================*/
@media only screen and (max-width: 768px) {
  .singlePostImg {
    width: 710px;
    height: 200px;
  }

  .singlePostTitle {
    width: 700px;
  }

  .singlePostInfo {
    width: 700px;
  }
}

/* 730====================================*/
@media only screen and (max-width: 730px) {
  .singlePostImg {
    width: 680px;
    height: 200px;
  }

  .singlePostTitle {
    width: 650px;
  }

  .singlePostInfo {
    width: 670px;
  }
}

/* 730====================================*/
@media only screen and (max-width: 700px) {
  .singlePostImg {
    width: 650px;
    height: 150px;
  }

  .singlePostTitle {
    width: 600px;
  }

  .singlePostInfo {
    width: 620px;
  }
}

@media only screen and (max-width: 665px) {
  .singlePostImg {
    width: 610px;
    height: 150px;
  }

}

/* 600=====================================*/
@media only screen and (max-width: 620px) {
  .singlePostImg {
    width: 550px;
    height: 150px;
  }

  .singlePostTitle {
    width: 530px;
  }

  .singlePostInfo {
    width: 550px;
  }
}

/* 565=====================================*/
@media only screen and (max-width: 565px) {
  .singlePostImg {
    width: 520px;
    height: 150px;
  }

  .singlePostTitle {
    width: 500px;
  }

  .singlePostInfo {
    width: 515px;
  }
}

@media only screen and (max-width: 530px) {
  .singlePostImg {
    width: 490px;
    height: 150px;
  }

  .singlePostTitle {
    width: 470px;
  }

  .singlePostInfo {
    width: 480px;
  }
}

@media only screen and (max-width: 500px) {
  .singlePostImg {
    width: 450px;
    height: 150px;
  }

  .singlePostTitle {
    width: 430px;
  }

  .singlePostInfo {
    width: 440px;
  }
}

@media only screen and (max-width: 465px) {
  .singlePostImg {
    width: 410px;
    height: 150px;
  }

  .singlePostTitle {
    width: 390px;
  }

  .singlePostInfo {
    width: 400px;
  }
}

@media only screen and (max-width: 420px) {
  .singlePostImg {
    width: 380px;
    height: 150px;
  }

  .singlePostTitle {
    width: 360px;
  }

  .singlePostInfo {
    width: 370px;
  }
}

@media only screen and (max-width: 390px) {
  .singlePostImg {
    width: 330px;
    height: 150px;
  }

  .singlePostTitle {
    width: 310px;
  }

  .singlePostInfo {
    width: 320px;
  }
}

@media only screen and (max-width: 340px) {
  .singlePostImg {
    width: 290px;
    height: 200px;

  }

  .singlePostTitle {
    width: 270px;
  }

  .singlePostInfo {
    width: 290px;
  }
}