.header {
  margin-top: 60px;

  .headerTitles {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Lora", serif;
    color: #444;

    .headerTitleSmall {
      font-size: 20px;
      position: absolute;
      top: 18%;
    }
    .headerTitleBig {
      font-size: 100px;
      position: absolute;
      top: 20%;
      z-index: 1;
    }
  }

  .headerImg {
    width: 100%;
    height: 450px;
    object-fit: cover;
    position: relative;
    margin-top: 100px;
  }
}

@media only screen and (max-width: 1300px) {
  .header {
    .headerTitleBig {
      top: 22%;
    }
    .headerImg {
      margin-top: 84px;
    }
  }
}

@media only screen and (max-width: 600px) {
  .header {
    .headerTitles {
      .headerTitleSmall {
        top: 14%;
      }
      .headerTitleBig {
        top: 18%;
      }
    }
    .headerImg {
      width: 110vw;
      height: 250px;
      margin-top: 70px;
    }
  }
}

@media only screen and (max-width: 500px) {
  .header {
    .headerTitles {
      margin-left: 200px;
    }
    .headerImg {
      width: 160vw;
    }
  }
}
