.header {
    margin-top: 60px;

    .headerTitles {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-family: "Lora", serif;
        color: #444;

        .headerTitleSmall {
            font-size: 20px;
            position: absolute;
            top: 18%;
        }
        .headerTitleBig {
            font-size: 100px;
            position: absolute;
            top: 20%;
            z-index: 1;
        }
    }

    .headerImg {
        width: 100%;
        height: 450px;
        object-fit: cover;
        position: relative;
        margin-top: 100px;
    }
}

//Responsive
// @media only screen and (max-width: 810px) {
//     .header {
//         width: 810px;
//         margin-top: -20px;
//         .headerTitles {
//             .headerTitleSmall {
//                 font-size: 15px;
//                 z-index: 99;
//                 top: 11%;
//             }
//             .headerTitleBig {
//                 font-size: 70px;
//                 z-index: 2;
//                 top: 14%;
//             }
//         }
//         .headerImg {
//             height: 250px;
//         }
//     }
// }

@media only screen and (max-width: 500px) {
    .header {
        width: 500px;
        .headerTitles {
            margin-top: 10px;

            .headerTitleSmall {
                font-size: 34px;
                font-size: 22px;
            }
            .headerTitleBig {
                z-index: 2;
                top: 16%;
            }
        }
        .headerImg {
            height: 250px;
        }
    }
}

//300
@media only screen and (max-width: 400px) {
    .header {
        width: 400px;

        .headerTitles {
            margin-top: 10px;
            margin-left: 40px;

            .headerTitleSmall {
                font-size: 34px;
                font-size: 22px;
            }
            .headerTitleBig {
                font-size: 90px;
                z-index: 2;
                top: 14%;
            }
        }
        .headerImg {
            height: 200px;
            width: 500px;
        }
    }
}
